---
layout: default
title: Beranda
permalink: /
---

<style>
  .tab-button:hover{background-color: #ffffff30}
</style>
<style>
  :root{--x15:#f8f9fa;--x3:#333;--x21:#dee2e6;--x14:none}
  .accordion-title{display:flex;justify-content:space-between;column-gap:10px;cursor:pointer;font-weight:bold}
  .accordion-title:after{content:url("data:image/svg+xml;utf8,<svg class='feather feather-chevron-down' fill='none' height='18' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'><polyline points='6 9 12 15 18 9'></polyline></svg>");width:18px;height:18px;line-height:18px;filter:var(--x14);transition:transform 0.3s}
  .accordion-title.open:after{transform:rotate(-180deg)}
  .accordion-content{overflow:hidden;font-size:15px;padding:0 16px;max-height:0;transition:max-height 0.3s ease,padding 0.3s ease}
  .accordion-content.open{padding-top:16px;padding-bottom:16px;max-height:none;/* Menghilangkan batasan tinggi sepenuhnya */}
  /* Demo content styling */
  .demo-content{height:80px;width:100%;background-color:#9ca3af;border-radius:4px;margin:8px 0}
</style>

<!-- [ NAV ] -->
{% if site.data.homepage.size > 1 %}
  <nav class="bg-neutral-400 rounded-full border-2 border-neutral-400 overflow-hidden max-w-xs mx-auto mb-5">
    <div class="w-full flex">
      {% for item in site.data.homepage %}
        <button class="tab-button flex-1 py-3 text-center h-9 rounded-full text-white {% if forloop.first %}active{% endif %}" data-tab-target="#{{ item.id }}">{{ item.title }}</button>
      {% endfor %}
    </div>
  </nav>
{% endif %}

<div class="tab-content-wrapper">
  {% for item in site.data.homepage %}
    <div id="{{ item.id }}" class="tab-content {% unless forloop.first %}hidden{% endunless %}">
      {% assign current_data = site.data[item.id] %}

      <!-- Sekarang kamu bisa mengakses data dari file JSON yang sesuai -->
      <div class="flex flex-col gap-y-3">
        {% for product in current_data %}
          {% assign product_include_file = product.type | append: ".html" %}
          {% include Action/{{ product_include_file }} product_data=product.data %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

<style>
  .tab-button.active{background-color: white;color: #6b7280;font-weight: 500;}
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const tabButtons = document.querySelectorAll('.tab-button');
    const tabContents = document.querySelectorAll('.tab-content');

    tabButtons.forEach(button => {
      button.addEventListener('click', () => {
        // Remove active class from all buttons and hide all content
        tabButtons.forEach(btn => {
          btn.classList.remove('active');
        });
        tabContents.forEach(content => content.classList.add('hidden'));

        // Add active class to clicked button and show its content
        button.classList.add('active');

        const targetTabId = button.dataset.tabTarget;
        document.querySelector(targetTabId).classList.remove('hidden');

      });
    });

  });
</script>

<!-- {% for collection in site.data.homepage %}
  {% assign matched_collections = site.data.products | where: "id", collection.id %}
  {% assign matched_collection = matched_collections[0] %}

  {% if matched_collection %}
    {% assign random_products = matched_collection.products | sample: 3 %}
    {% include collections_list.html products=random_products title=matched_collection.title collection_id=collection.id %}
  {% else %}
    <p><em>Koleksi dengan ID {{ collection.id }} tidak ditemukan.</em></p>
  {% endif %}
{% endfor %} -->

