---
layout: default
title: Beranda
permalink: /
---

{% for collection in site.data.homepage %}
  {% assign matched_collections = site.data.products | where: "id", collection.id %}
  {% assign matched_collection = matched_collections[0] %}

  {% if matched_collection %}
    {% assign random_products = matched_collection.products | sample: 3 %}
    {% include collections_list.html 
      products=random_products 
      title=matched_collection.title 
      collection_id=collection.id 
    %}
  {% else %}
    <p><em>Koleksi dengan ID {{ collection.id }} tidak ditemukan.</em></p>
  {% endif %}
{% endfor %}

