<div class="w-full h-auto bg-neutral-300 rounded-xl text-center p-6 flex flex-col items-center justify-end gap-4">
  <img class="w-12 h-12 object-contain rounded-full" src="{{ site.logo }}" alt="{{ site.title }}" />
  <h2 class="text-xl font-semibold text-gray-800">{{ site.title }}</h2>
  <div class="flex gap-4 text-gray-600">
    <a href="https://instagram.com/pelukanrasa" target="_blank" class="hover:text-pink-500 transition">
      <svg class="w-5 h-5" width="100%" height="100%"><use xlink:href="#i.fire"></use></svg>
    </a>
    <a href="https://instagram.com/pelukanrasa" target="_blank" class="hover:text-pink-500 transition">
      <svg class="w-5 h-5" width="100%" height="100%"><use xlink:href="#i.fire"></use></svg>
    </a>
  </div>
  <nav class="flex gap-4 text-sm text-gray-700">
    <a href="/" class="hover:underline">Beranda</a>
    <a href="/" class="hover:underline">Tentang</a>
    <a href="/" class="hover:underline">Kontak</a>
    <a href="/" class="hover:underline">Privasi</a>
  </nav>
</div>