---
layout: default
---

<div class="flex items-center px-2 border border-slate-200 rounded-xl focus-within:border-slate-400 hover:border-slate-300 mb-5">
  <svg class="h-4 w-4 mr-2" width="100%" height="100%"><use xlink:href="#i.fire"></use></svg>
  <input
    class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm px-1 py-2 transition duration-300 ease focus:outline-none"
    placeholder="Search in Featured Products gegegegeg"
  />
</div>

<div class="grid grid-cols-2 gap-3 sm:grid-cols-3">
  {% assign product_file = site.data.database_products[page.product_ref] %}

  {% if product_file.size > 0 %}
    {% for product in product_file %} {% include productItems.html product=product %} {% endfor %}
  {% else %}
    <p>Tidak ada produk di kategori ini.</p>
  {% endif %}
</div>